---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Computer Modern";
    src: url("../fonts/ACaslonPro-Regular.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
};

#nav {
    position: relative;
    background-color:#232D4B;
};

body
{
    font-family:"Computer Modern";
};
